@use './variaveis' as *;

.menu {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  //background: linear-gradient(135deg, #247ba0, #1a4f8a);
  background: linear-gradient(135deg, #0a1a2f, #123b70);
  border-radius: 1rem;
  padding: 1rem;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap; 
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  flex: 1 1 100px; 
  text-align: center;
}

.menu figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: white;
  font-size: 1rem;
  //list-style: none;
  //text-decoration: none;
}

.menu img {
  width: 102px;
  height: 62px;
  margin-bottom: 0.5rem;
}


@media (max-width: 768px) {
  .menu {
    width: 90%;
    padding: 0.4rem;

    img {
      width: 70px;
      height: 70px;
    }

    figure {
      font-size: 0.9rem;
    }
  }
}


